body {
  margin-top: 5px;

  background-color: #dbd2be;
  background-image: url(QcAvatras/champions-bg-large.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
h1 {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  margin-top: 2px;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px rgb(167, 164, 178);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.choice_place {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.champion_card {
  width: 11.5%;
  margin: 2px;
  position: relative;
}
.imgChamp {
  position: absolute;
  display: flex;

  /* background: linear-gradient(45deg, #384bfd, #1cffff, #384bfd, #1cffff); */
  background: linear-gradient(45deg, #db592d, #ffd21c, #db592d, #ffd21c);
  transition: opacity 0.4s, visibility 0.4s;
  padding: 6px;
  display: none;
}

.imgChamp img {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}

.imgChampHoverLogo {
  display: flex;
  transition: opacity 0.4s, visibility 0.4s;
  padding: 6px;
}

.imgChampHoverLogo img {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
  /* opacity: 0; */
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.help {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(186, 255, 183);
  margin-top: 2px;
}

.statistik {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin: 4px;
  text-transform: uppercase;
  color: aliceblue;
  margin-top: 2px;
}

.help {
  display: inline-block;
  vertical-align: top;
  padding: 1.12em 2.1em;
  background: #121212;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.NGameBtn {
  display: inline-block;
  vertical-align: top;
  padding: 1.12em 2.1em;
  background: #121212;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.data-fullscreen {
  display: inline-block;
  vertical-align: top;
  padding: 1.12em 2.1em;

  background: #121212;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  .statistik {
    font-size: 10px;
  }
  .data-fullscreen,
  .NGameBtn,
  .help {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
  .statistik {
    font-size: 7px;
  }
  .data-fullscreen,
  .NGameBtn,
  .help {
    font-size: 7px;
  }
}

/* .champion_card:hover .imgChamp {
  display: block;
} */

/* .championName {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: crimson;
} */
